.progress {
  border: 1px solid blue;
  width: 100px;
  position: fixed;
  top: 10px;
  right: 10px;
}

.progress > div {
  height: 12px;
  background: blue;
  width: 0%;
}

body {
  height: 2000px;
}

#infobox {
  position: fixed;
  top: 300px;  
}